.super-info{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin: 0 auto;
    color: var(--color-1);
    font-size: 13px;
}
.super-info a:hover{
    color: #c3c3c3;
}

/*introdução*/
.introducao{
    background: var(--color-3);   
}
.decor-bg{
    background: url(../decor/decor-1.svg);
    background-repeat: no-repeat;
    background-position: bottom 30px left 60px;
    background-size: 60px;
}
@media (max-width: 1000px){
    .decor-bg{
        background: none;
    }
}
.row-1-introducao{
    max-width: 1200px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-introducao{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.menu-introducao a{
    position: relative;
    display: inline-block;
}
.link-recursos{
    background: var(--color-2);
    padding: 10px 20px;
    color: var(--color-1);
    text-transform: uppercase;
}
@media (max-width: 900px){
    .menu-introducao a{
    padding: 5px 10px;
    background: var(--color-6);
    }
}
.menu-introducao a::after{
    content: '';
    height: 2px;
    width: 0px;
    margin-top: 5px;
    background: var(--color-1);
    display: block;
    transition: 0.3s;
    position: absolute;
}
@media (max-width: 900px){
    .menu-introducao a::after{
        display: none;
    }
}
.menu-introducao a:hover::after{
    width: 100%;
}
.logo-introducao img{
    max-width: 50px;
}
.menu-introducao li a{
    color: var(--color-1);
    font-weight: 700;
}
.row-2-introducao{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    padding: 120px 15px 0px 15px;
    grid-template-columns: 1fr 1fr;
}
@media (max-width: 1100px){
    .row-2-introducao{
        padding: 15px;
    }
}
.row-2-titulo{
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-bottom: 30px;
    color: var(--color-1);
}
.row-2-titulo h1{
    font-size: var(--font-4);
}
@media (max-width: 600px){
    .row-2-titulo h1{
    font-size: var(--font-mobile-4);
    }
}
.row-2-titulo p{
    font-size: var(--font-1);
}
@media (max-width: 600px){
    .row-2-titulo p{
        font-size: var(--font-mobile-);
    }
}
.s-titulo{
    color: var(--color-2);
}
.s-sub-titulo{
    color: var(--color-1);
} 
.col-1-introducao{
    padding-bottom: 180px;
}
@media (max-width: 1000px){
    .col-1-introducao{
    background: url(../decor/decor-1.svg);
    background-repeat: no-repeat;
    background-position: bottom 20px left 0px;
    background-size: 60px;
    }
}
.col-2-introducao{
    display: grid;
    align-items: end;
    justify-content: end;
}
.btn-introducao{
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    background: var(--color-1);
    transition: 0.3s ease;
}
.btn-introducao:hover{
    background: var(--color-2);
    color: var(--color-1);
}
@media (max-width: 1100px){
    .img-introducao{
        display: none;
    }
}
/*end*/